<!-- lesson-player.component.html -->

<div class="lesson-player-container">
  <!-- Yükleme Spinner'ı -->
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <!-- Hata Mesajı -->
  <app-alert-dialog *ngIf="errorMessage" [message]="errorMessage" type="error" [autoClose]="true" (closed)="clearMessages()"></app-alert-dialog>

  <div class="lesson-player-content" *ngIf="!isLoading && course && currentLesson">
    <h1 class="lesson-title">{{ currentLesson.title }}</h1>
    <p class="course-title-link">
      <a [routerLink]="['/courses', course.id]">{{ course.title }}</a>
    </p>

    <!-- Video Oynatıcı -->
    <div class="video-player-wrapper">
      <ng-container *ngIf="videoUrl">
        <iframe [src]="videoUrl" frameborder="0" allowfullscreen class="video-iframe"></iframe>
      </ng-container>
      <div *ngIf="!videoUrl" class="no-video-message">
        <p>{{ 'NO_VIDEO_AVAILABLE' | translate }}</p>
      </div>
    </div>

    <div class="lesson-details-and-navigation">
      <div class="lesson-description-card">
        <h2 class="card-title">{{ 'DESCRIPTION' | translate }}</h2>
        <p class="lesson-description">{{ currentLesson.description }}</p>
      </div>

      <div class="lesson-navigation-card">
        <h2 class="card-title">{{ 'COURSE_LESSONS' | translate }}</h2>
        <ul class="lesson-list">
          <li *ngFor="let lesson of course.lessons"
              [class.active-lesson]="lesson.id === currentLesson.id"
              (click)="goToLesson(lesson)">
            <span class="lesson-order">{{ lesson.lessonOrder }}.</span>
            <span class="lesson-nav-title">{{ lesson.title }}</span>
            <span class="material-icons play-icon" *ngIf="lesson.id === currentLesson.id">play_circle_filled</span>
          </li>
        </ul>
        <div class="lesson-player-actions">
          <button class="action-button secondary-btn"
                  (click)="goToPreviousLesson()"
                  [disabled]="isCurrentLessonFirst()">
            <span class="material-icons">skip_previous</span>
            {{ 'PREVIOUS_LESSON' | translate }}
          </button>

          <button class="action-button primary-btn"
                  (click)="goToNextLesson()"
                  [disabled]="isCurrentLessonLast()">
            {{ 'NEXT_LESSON' | translate }}
            <span class="material-icons">skip_next</span>
          </button>

        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && (!course || !currentLesson) && !errorMessage" class="no-content-found">
    <p>{{ 'LESSON_NOT_LOADED' | translate }}</p>
    <button class="action-button primary-btn" (click)="loadCourseAndLessonDetails(courseId || 0, lessonId || 0)">{{ 'RETRY_LOAD_LESSON' | translate }}</button>
  </div>
</div>
